{% load static %}

<section class="">
  <div class="container position-relative">
    {% include 'app_ecomerce/elements/nav-bar.html' %}

    {% include 'app_ecomerce/elements/categories.html' %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for goods in page_obj %}
        {% include 'app_landing/elements/ecommerce-item.html' %}
      {% endfor %}
    </div>
    <div class="pt-4 text-center">
      {% include 'elements/pagination.html' %}
    </div>
  </div>

</section><!--//ecommerce-section-->