{% load static %}

<ul class="app-stores list-unstyled list-inline m-0 mx-md-0 d-flex justify-content-start">
  <li class="list-inline-item">
    <a href="https://api.whatsapp.com/send?phone=79966245520" itemprop="url">
      <img class="" src="{% static '/images/social_links/whatsapp.svg' %}"
           alt="whatsapp">
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://t.me/+79966245520" itemprop="url">
      <img class="" src="{% static '/images/social_links/telegram.svg' %}"
           alt="telegram">
    </a>
  </li>
</ul>