{% load static %}

<ul class="app-stores list-unstyled list-inline mx-md-0 d-flex justify-content-start">
  <li class="list-inline-item">
    <a href="https://api.whatsapp.com/send?phone=79966216227">
      <img class="" src="{% static '/images/social_links/whatsapp.svg' %}"
           alt="whatsapp">
    </a>
  </li>
  <li class="list-inline-item">
    <a href="viber://chat?number=79966216227">
      <img class="" src="{% static 'images/social_links/viber.svg' %}"
           alt="viber">
    </a>
  </li>
</ul>