.card {
	.card-body .card-title {
		white-space: nowrap;
	    overflow: hidden;
		text-overflow: ellipsis;
	}

	.card-body .card-text {
		display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
}

.badge.goods-available {
	height: 20px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}

.bg-lighten-primary {
	background: lighten($theme-color-primary, 35%);
	color: $theme-color-primary;
}