{% extends 'blocks/modals/modal-base.html' %}

{% block modal-id %}detail-view-modal-{{ goods.pk }}{% endblock %}

{% block title-image %}
  {% if goods.image %}
    <img src="{{ goods.image.url }}" alt="goods image" class="rounded-top-2 goods-image">
  {% endif %}
{% endblock %}

{% block modal-header %}
  <h1 class="modal-title fs-5" id="">{{ goods.title }}</h1>
{% endblock %}

{% block modal-body %}
  <p>{{ goods.description }}</p>
  {% for param in goods.parameter_set.all %}
    <div class="row">
      <dt class="col-sm-6">{{ param.title }}</dt>
      <dd class="col-sm-6">{{ param.value }}</dd>
    </div>
  {% endfor %}
  {% if goods.parent %}
    {% include 'app_ecomerce/blocks/detail-view-modal-nav-bar.html' %}
  {% endif %}
{% endblock %}

{% block modal-footer %}
  {% include 'app_ecomerce/elements/price.html' %}
  <div class="buttons d-flex justify-content-center mt-3 mt-sm-0">
    {% include 'elements/buttons/close-button.html' %}
    {% include 'elements/buttons/order-button.html' with is_primary='True' in_modal='True' obj=goods %}
  </div>
{% endblock %}
