{% extends 'blocks/hero-section.html' %}

{% block hero-section-content %}

  {% if url_name == 'main' %}
    <h1 class="site-headline font-weight-bold mt-lg-5 mb-3">
      Изготовление автомобильных ключей в Самаре
    </h1>
    <div class="site-tagline mb-3">
      Мы работаем по Самаре и области, с возможностью выезда на место работ. Напишите нам или закажите обратный звонок и мастер перезвонит вам для уточнения данных:
    </div>

  {% elif url_name == 'goods' %}
    <h2 class="site-headline font-weight-bold mt-lg-5">
      Большой ассортимент товаров и услуг
    </h2>
    <div class="site-tagline mb-3">
      Если нужной заготовки не оказалось в наличии, закажем доставку у наших поставщиков. Узнайте стоимость сейчас:
    </div>

  {% endif %}
{% endblock %}


