{% extends 'blocks/hero-section.html' %}

{% block hero-section-content %}

  {% if url_name == 'main' %}
    <h1 class="site-headline mt-lg-5 mb-3 fs-2">
      Изготовление автомобильных ключей в Самаре
    </h1>
    <div class="site-tagline mb-3" itemprop="description">
      <ul class="list-group list-group-flush">
        <li class="list-group-item border-0 ps-0">Программирование иммобилайзера</li>
        <li class="list-group-item border-0 ps-0">Восстановление ключей</li>
        <li class="list-group-item border-0 ps-0">Ремонт замков</li>
        <li class="list-group-item border-0 ps-0">Вскрытие автомобилей</li>
        <li class="list-group-item border-0 ps-0">Восстановление FRM и ZGW</li>
      </ul>
    </div>

  {% elif url_name == 'goods' %}
    <h2 class="site-headline mt-lg-5 fs-2">
      Большой ассортимент товаров и услуг
    </h2>
    <div class="site-tagline mb-3">
      Если нужной заготовки не оказалось в наличии, закажем доставку у наших поставщиков. Узнайте стоимость сейчас:
    </div>

  {% endif %}
{% endblock %}


