<section class="cta-section py-5 theme-bg-secondary text-center"
         itemscope itemtype="http://schema.org/WebPageElement">
  <div class="container">
    <h3 class="text-white font-weight-bold mb-3" itemprop="name">Как сделать заказ у нас?</h3>
    <div class="text-white mx-auto single-col-max-width section-intro mb-3" itemprop="text">
      Просто свяжитесь с нами с помощью контактов ниже, или закажите обратный звонок.
      <br>
      Мы расскажем о сроках и порядке работ, а также уточним есть ли в наличии нужная заготовка.
    </div>
    <div class="d-sm-flex justify-content-center gap-2">
      {% include 'elements/buttons/callback-button.html' %}
      {% include 'elements/buttons/primary_button.html' with link='tel:+79377976492' text='+7(937)797-64-92' %}
    </div>
  </div>
</section><!--//cta-section-->