{% load static %}

<section class="features-section py-5">
  <div class="container py-lg-5 position-relative">
    <h3 class="mb-3 text-center font-weight-bold section-heading">Feature
      Highlights</h3>
    <div class="row pt-5 mb-5">

      <div class="col-12 col-md-6 col-xl-5 offset-xl-1 d-none d-md-block">
        <img class="product-figure product-figure-1 img-fluid"
             src="{% static 'images/theme_images/product-figure-1.png' %}" alt=""/>
      </div>

      <div class="col-12 col-md-6 col-xl-5 pr-xl-3 pt-md-3">
        <div class="card rounded border-0 shadow-lg  mb-5">
          <div class="card-body p-4">
            <h5 class="card-title"><i
                    class="far fa-chart-bar me-2 me-lg-3 text-primary fa-lg fa-fw"></i>Feature
              Lorem Ipsum</h5>
            <p class="card-text">List one of your product's main features here.
              The screenshots used in this template are taken from Bootstrap
              admin template Appify. </p>
            <a class="more-link" href="#">Learn more <span class="more-arrow">&rarr;</span></a>
          </div>
        </div><!--//card-->

        <div class="card rounded border-0 shadow-lg mb-5">
          <div class="card-body p-4">
            <h5 class="card-title"><i
                    class="fas fa-laptop-code me-2 me-lg-3 text-primary fa-lg fa-fw"></i>Feature
              Consectetuer</h5>
            <p class="card-text">List one of your product's main features here.
              The screenshots used in this template are taken from Bootstrap
              admin template Appify.</p>
            <a class="more-link" href="#">Learn more <span class="more-arrow">&rarr;</span></a>
          </div>
        </div><!--//card-->
        <div class="card rounded border-0 shadow-lg">
          <div class="card-body p-4">
            <h5 class="card-title"><i
                    class="far fa-calendar-alt me-2 me-lg-3 text-primary fa-lg fa-fw"></i>Feature
              Lorem Ipsum</h5>
            <p class="card-text">List one of your product's main features here.
              The screenshots used in this template are taken from Bootstrap
              admin template Appify.</p>
            <a class="more-link" href="#">Learn more <span class="more-arrow">&rarr;</span></a>
          </div>
        </div><!--//card-->
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 col-xl-5 order-md-2 pr-xl-3 d-none d-md-block">
        <img class="product-figure product-figure-2 img-fluid"
             src="{% static 'images/theme_images/product-figure-2.png' %}" alt=""/>
      </div>
      <div class="col-12 col-md-6 col-xl-5 order-md-1 offset-xl-1 pt-xl-5">
        <div class="card rounded border-0 shadow-lg  mb-5">
          <div class="card-body p-4">
            <h5 class="card-title"><i
                    class="fas fa-microphone-alt me-2 me-lg-3 text-primary fa-lg fa-fw"></i>Feature
              Commodo</h5>
            <p class="card-text">List one of your product's main features here.
              The screenshots used in this template are taken from Bootstrap
              admin template Appify. Donec quam felis, ultricies nec,
              pellentesque eu, pretium quis, sem. </p>
            <a class="more-link" href="#">Learn more <span class="more-arrow">&rarr;</span></a>
          </div>
        </div><!--//card-->

        <div class="card rounded border-0 shadow-lg">
          <div class="card-body p-4">
            <h5 class="card-title"><i
                    class="far fa-comments me-2 me-lg-3 text-primary fa-lg fa-fw"></i>Feature
              Ligula Eget</h5>
            <p class="card-text">List one of your product's main features here.
              Lorem ipsum dolor sit amet. The screenshots used in this template
              are taken from Bootstrap admin template Appify.</p>
            <a class="more-link" href="#">Learn more <span class="more-arrow">&rarr;</span></a>
          </div>
        </div><!--//card-->
      </div>

    </div>

    <div class="pt-5 text-center">
      <a class="btn btn-primary theme-btn theme-btn-ghost font-weight-bold"
         href="#">View all features</a>
    </div>
  </div><!--//container-->

</section><!--//features-section-->