{% load static %}

<section class="logos-section theme-bg-primary py-5 text-center">
  <div class="container">
    <h3 class="mb-5">Работаем со многими марками автомобилей</h3>
    <div class="logos-row row mx-auto align-items-center">
      {% include 'app_landing/elements/logo.html' with file='images/logos/lada-logo.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/kia-logo.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/bmw-logo.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/ford-logo.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/renault-logo.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/nissan-logo.svg' %}
    </div>
  </div>
</section>