{% load static %}

<section class="logos-section theme-bg-primary py-5 text-center">
  <div class="container">
    <h3 class="mb-5">Работаем почти со всеми марками автомобилей</h3>
    <div class="logos-row align-items-center justify-content-center d-flex flex-wrap">
      {% include 'app_landing/elements/logo.html' with file='images/logos/honda.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/opel.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/toyota.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/renault.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/nissan.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/suzuki.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/mitsubishi.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/mazda.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/lexus.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/infiniti.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/hyundai.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/ssang_yong.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/ford.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/kia.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/chevrolet.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/subaru.svg' %}
    </div>
  </div>
</section>