{% load static %}

<section class="logos-section theme-bg-primary py-5 text-center">
  <div class="container">
    <h3 class="mb-5">Работаем почти со всеми марками автомобилей</h3>
    <div class="logos-row align-items-center justify-content-center d-flex flex-wrap">
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/honda.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/opel.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/toyota.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/renault.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/nissan.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/suzuki.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/mitsubishi.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/mazda.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/lexus.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/infiniti.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/Hyundai.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/SsangYong.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/ford.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/kia.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/chevrolet.svg' %}
      {% include 'app_landing/elements/logo.html' with file='images/logos/new-logos/subaru.svg' %}
    </div>
  </div>
</section>