<div class="col">
  <div class="card shadow-sm">
    {% if goods.image %}
      <img src="{{ goods.image.url }}" class="card-img-top fit-cover" alt="goods image">
    {% else %}
      <div class="card-img-top fit-cover empty-cover d-flex justify-content-center">
        <p class="text-white align-self-center">Изображение отсутствует</p>
      </div>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ goods.title }}</h5>
      <p class="card-text">{{ goods.description }}</p>
    </div>
    <div class="card-footer d-block d-sm-flex d-md-block">
      {% include 'app_ecomerce/elements/price.html' %}
      <div class="buttons d-flex justify-content-center mt-3 mt-sm-0 mt-md-3 ms-auto">
        {% include 'elements/buttons/order-button.html' with obj=goods %}
        <button type="button" class="btn btn-link btn-sm btn-outline-primary"
                data-bs-toggle="modal" data-bs-target="#detail-view-modal-{{ goods.pk }}">
          Подробнее
        </button>
      </div>
    </div>
  </div>
</div>