{% load static %}

<div class="carousel-cell">
  <div class="item-inner shadow rounded">
    <h5 class="mb-2">Amazing App!</h5>
    <div class="ratings text-primary mb-3"><i class="fas fa-star"></i><i
            class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i><i class="fas fa-star"></i></div>
    <div class="mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing
      elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
      natoque penatibus et magnis dis.Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa.
    </div>
    <div class="source row">
      <div class="col-auto">
        <img class="source-profile rounded-circle"
             src="{% static 'images/theme_images/users/user-1.jpg' %}" alt=""/>
      </div><!--//col-->
      <div class="source-info col pt-3">
        <div>Tony Carter</div>
        <div>London, UK</div>
      </div>
    </div><!--//source-->
  </div><!--//item-inner-->
</div><!--//carousel-cell-->