{% extends 'base.html' %}
{% load static %}

{% block title %}CarKey - изготовление автомобильных ключей в Самаре{% endblock %}
{% block description %}
  CarKey Самара - Обслуживание и ремонт автомобильных ключей, замков и сигнализаций в Самаре и области.
  Качественные услуги по доступным ценам. +7 (937) 797-64-92.
{% endblock %}

{% block content %}
  {% include 'blocks/hero-section-content.html' with url_name='main' %}
  {% include 'app_landing/blocks/logos-section.html' %}

  {% include 'app_landing/blocks/ecommerce-section.html' with url_name='main' %}
  {% include 'app_landing/blocks/benefits-section.html' %}
  {% include 'app_landing/blocks/cta-section.html' %}

{% endblock content %}

{% block scripts %}

  <script type="text/javascript" src="{% static 'plugins/flickity/flickity.pkgd.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/landing.js' %}"></script>

{% endblock %}