{% extends 'base.html' %}
{% load static %}

{% block title %}CarKey - автомобильные ключи, сигнализации, вскрытие и ремонт замков в Самаре{% endblock %}
{% block description %}
  CarKey Самара - Обслуживание и ремонт автомобильных ключей, замков и сигнализаций, вскрытие автомобилей и другие услуги в Самаре и области.
  Качественный сервис по доступным ценам. +7 (996) 624-5520
{% endblock %}

{% block content %}
  {% include 'blocks/hero-section-content.html' with url_name='main' %}
  {% include 'app_landing/blocks/logos-section.html' %}

  {% include 'app_landing/blocks/ecommerce-section.html' with url_name='main' %}
  {% include 'app_landing/blocks/benefits-section.html' %}
  {% include 'app_landing/blocks/cta-section.html' %}

{% endblock content %}

{% block scripts %}

  <script type="text/javascript" src="{% static 'plugins/flickity/flickity.pkgd.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/landing.js' %}"></script>

{% endblock %}