<div class="container my-4 p-0">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 theme-bg-primary rounded-3 align-items-center">
      <button class="btn btn-outline-primary me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
        Категории
      </button>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Автоключи</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Toyota
      </li>
    </ol>
  </nav>
</div>