{% extends 'base.html' %}
{% load static %}

{% block title %}
  CarKey -
  {% if title %}Каталог - {{ title }}
  {% else %}Каталог автомобильных ключей в наличии{% endif %}
  {% if page_obj.number != 1 %} - Страница {{ page_obj.number }}{% endif %}
{% endblock %}

{% block description %}
  {% if not title %}
    CarKey Самара - Каталог автомобильных ключей в наличии. Широкий выбор ключей, замков и других комплектующих для различных марок автомобилей.
    Услуги по изготовлению, дублированию ключей и ремонту замков. Гарантия качества. +7 (937) 797-64-92
  {% endif %}
{% endblock %}

{% block content %}
  {% include 'blocks/page-title.html' with text='Каталог'%}
  {% include 'app_ecomerce/blocks/goods-list-nav-bar.html' with url_name='goods' %}
  {% include 'app_ecomerce/blocks/cards-list-section.html' %}
  {% include 'blocks/hero-section-content.html' with url_name='goods' %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/goods.js' %}"></script>
{% endblock %}