{% extends 'base.html' %}
{% load static %}

{% block title %}
  CarKey -
  {% if title %}Каталог - {{ title }}
  {% else %}Каталог автомобильных комплектующих в наличии
  {% endif %}
  {% if page_obj.number != 1 %} - Страница {{ page_obj.number }}{% endif %}
{% endblock %}

{% block description %}
  CarKey Самара - Каталог комплектующих для ремонта авто-ключей, замков и других комплектующих для различных марок автомобилей.
  {{ category }}
  Услуги по изготовлению и восстановлению ключей, ремонту замков, вскрытию автомобилей и другие. Гарантия качества. +7(996)624-55-20
{% endblock %}

{% block keywords %}
  {% if page_obj.number != 1 %}
    {% for goods in page_obj %}
      {{ goods.title }}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
  {% include 'blocks/page-title.html' with text='Каталог'%}
  {% include 'app_ecomerce/blocks/goods-list-nav-bar.html' with url_name='goods' %}
  {% include 'app_ecomerce/blocks/cards-list-section.html' %}
  {% include 'blocks/hero-section-content.html' with url_name='goods' %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/goods.js' %}"></script>
{% endblock %}